[include]
    path = ~/.gitconfig-acc

[core]
	excludesfile = /Users/taro/.gitignore_global
	autocrlf = input
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[push]
	default = tracking
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	s = status
	sh = show
	so = remote show origin
	ft = fetch
	up = pull --rebase
	rbm = rebase master
	ad = add
	ci = commit -a
	com = commit -a --amend
	co = checkout
	br = branch
	ba = branch -a
	bm = branch --merged
	bn = branch --no-merged
	wc = whatchanged
	ls = log --stat
	lp = log -p
	la = log --pretty\"format:%ad %h (%an): %s\" --date=short
	lr = log origin
	oneline = log --pretty=oneline
	ranking = shortlog -s -n --no-merges
	graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
	log-all = log --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
	dm = diff master
	dm = diff --color-words
	dc = diff --cached
	ds = diff --staged
	d1 = diff HEAD~
	d2 = diff HEAD~~
	d3 = diff HEAD~~~
	d4 = diff HEAD~~~~
	d5 = diff HEAD~~~~~
	d10 = diff HEAD~~~~~~~~~~
	gr = grep
	gni = grep -ni


[user]
	name = 
	email = 
